<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senac.pi.demoview" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextViewDemo"
            android:label="@string/title_activity_text_view_demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditActivit"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ImageView"
            android:label="@string/title_activity_image_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AltoCompleteDemo"
            android:label="@string/title_activity_alto_complete_demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ImageButtonActivit"
            android:label="@string/title_activity_image_button"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CheckBoxToggleButoonActivit"
            android:label="@string/title_activity_check_box_toggle_butoon"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProgressDialogDemoActivit"
            android:label="@string/title_activity_progress_dialog_demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ComentAlertDialog"
            android:label="@string/title_activity_coment_alert_dialog"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ScrollViewDemoActivit"
            android:label="@string/title_activity_scroll_view_demo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
